@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h6>Desafio de programação que marcou minha jornada.</h6>
<p>Na minha última experiência profissional me deparei com algumas equipes que ainda tinham o processo de deploy totalmente manual. O desafio foi simples mas eu me senti realmente fazendo a diferença quando consegui, em conjunto com outro dev backend, implementar o deploy automático no projeto que estava trabalhando. O techlead gostou da ideia e pediu que implementássemos também no frontend e posteriormente em outros projetos.</p>
<p>A tecnologia utilizada foi simples e foram necessários os seguintes passos:</p>
    <ul>
        <li> criar o .yml com as etapas do deploy no repositório;</li>
        <li> cadastrar as secrets necessárias dentro do bitbucket;</li>
        <li> criar uma chave ssh no bitbucket e cadastrar dentro do arquivo de chaves autorizadas no servidor;</li>
    </ul>

