@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Leonardo Coutinho Gomes</h3>
    <h6>Cargo pretendido: Dev .Net Pleno</h6>
    <h6>Pretensão salarial: R$ 6.500,00</h6>
    <h6>Data do teste: Recebido em 03/03/2023 - Entregue em 07/03/2023</h6>
</div>
