@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Leonardo Coutinho Gomes</h1>
    <p>Cargo pretendido: Desenvolvedor .Net Pleno</p>
    <p>Pretensão salarial: R$ 6.000</p>
    <p>Data de recebimento do teste: 03/03/2023</p>
</div>
